/*--------------------------------------------main/generic styles*/

body {
    font-family: 'Raleway', sans-serif;


}

li {
    text-decoration: none;
    list-style: none;
}

audio {}

.test {
    height: 90vh;
    background-color: blue;
}

.date {
    width: 70px;
    height: 70px;
    background: #fcfcfc;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-top: 10px;

}

.date p {
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    color: #9e9e9e;

}

.date p span {
    background: #d10000;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: block;
    border-top: 3px solid #a13838;
    border-radius: 0 0 10px 10px;
    padding: 6px 0 6px 0;
}

.zero-margin-padding {
    margin: 0;
    padding: 0;
}

.center-align {
    display: block;
    margin: 0 auto;
}

.image-fit {
    height: 100%;
    width: 100%;

}

.touch-image {
    height: 100%;
    width: 100%;
}

.touch-instructions-middle {
    height: 50px;
    width: 50px;
    margin-left: 50vw;
    margin-right: 50vw;
    margin-top: 10px;
    position: absolute;

}

.touch-instructions-top {
    height: 50px;
    width: 50px;
    margin-left: 10vw;
    margin-top: 70px;
    position: absolute;
}

.touch-instructions-bottom {
    height: 50px;
    width: 50px;
    margin-left: 80vw;
    margin-top: 10px;
    position: absolute;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.audio-container {
    width: 33.33%;
    margin-left: 0;
    padding-left: 0;
}

.calendar-wrapper {
    margin-top: 40px;
    margin-bottom: 5px;
}

.sub-header {
    width: 100%;
    background-color: white;
}

.sub-header-text {

    font-size: 20px;
    text-align: center;
    color: #777;
    letter-spacing: 10px;
}

h1 {
    letter-spacing: 10px;
    color: #777;
}

.center-item {
    text-align: center;
}

/*...................................................Buttons*/

.btn-center {
    display: block;
    margin: 0 auto;

}

.btn-more {
    width: 33vw;
    height: 50%;
    background-color: transparent;
    border-color: pink;
    border-radius: 0;
    text-align: center;
    letter-spacing: 10px;
    text-decoration: none;
    margin-left: 33vw;
    font-size: 4.5vw;
    color:#777;
    font-weight: 900
}

.btn-more-2 {
    width: 33vw;
    height: 50%;
    background-color: transparent;
    border-color: lightblue;
    border-radius: 0;
    text-align: center;
    letter-spacing: 10px;
    text-decoration: none;
    margin-left: 33vw;
    font-size: 4.5vw;
    color:#777;
    font-weight: 900
}

.btn-square {
    border-radius: 0;
}

.btn-more:hover {

    background-color: pink;
    border-color: #777;
    color: white;
}

.btn-more-2:hover {

    background-color: lightblue;
    border-color: #777;
    color: white;
}

.btn-more:active:focus {

    background-color: #79a9f7;
    border-color: #79a9f7;
}

.btn-more-two {
    width: 100px;
    height: 50px;
    margin-top: 25px;
}

.btn-danger:hover {
    background-color: grey;
    border-color: grey;
}

.video-button {
    width: 100%;
    height: 20vh;
    background-image: url(/assets/images/sex-on-fire-cd.jpg);
    background-size: 100% 100%;
    margin-top: 30px;
    border-radius: 20px;
    display: inline-block;

}

.video-button-2 {
    width: 100%;
    height: 20vh;
    background-image: url(/assets/images/use-somebody-cd.jpg);
    background-size: 100% 100%;
    margin-top: 30px;
    border-radius: 20px;
}

.video-button-3 {
    width: 100%;
    height: 20vh;
    background-image: url(/assets/images/supersoaker-cd.jpg);
    background-size: 100% 100%;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid transparent;
}



/*------------------------------------------------NAVIGATION SECTION8*/

.navbar {
    position: absolute;
    width: 100vw;
    z-index: 1;
    background-color: white;
    border: 0;
}

.navbar-right {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 16px;
    letter-spacing: 10px;
}

.discover-btn {
    border: 0;
    background-color: transparent;
    text-align: center;
    color: #777;
    font-size: 16px;
    letter-spacing: 5px;
}

.discover-btn:hover {
    background-color: #f5f5f5;
    color: #777;
}

.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #777;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.open>.dropdown-toggle.btn-primary {
    color: #777;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.navbar-collapse {
    margin-top: 50px;

}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.dropdown-menu {
    width: 300px;

}

.dropdown-menu li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 5px;
    color: #777;
}

.navbar-default .navbar-nav>li>a {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 5px;
    color: #777;
}

.dropdown-menu>li>a:hover {
    color: #777;
    text-decoration: none;
    background-color: lightblue;
}

.discover-btn:hover {
    background-color: lightblue;
    color: #777;
}

/*---------------------------------------------------------MAIN HEADER SECTION*/

.body {
    height: 92vh;
    background-image: url(/assets/images/kol_hat.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;


}

.body:hover {}



.cherry {
    height: 92vh;


    background-image: url(/assets/images/kol_cherry.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
}

.cherry:hover {}

.snake {
    height: 92vh;

    background-image: url(/assets/images/kol_snake.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
}

.snake:hover {}

.hover-hidden {
    height: 90vh;
    position: absolute;
    width: 100%;

}



.video-visible {
    height: 60vh;
    margin-top: 20vh;
    background-color: rgba(3, 2, 0, 0.5);
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;


}

.walls-video {

    height: 80%;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.hover-hidden:hover .video-visible {
    opacity: 1;
}

.audio-visible-waste {
    height: 60vh;
    margin-top: 20vh;
    background-color: rgba(3, 2, 0, 0.3);
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;

}

.hover-hidden:hover .audio-visible-waste {
    opacity: 1;
}





.audio-section {
    height: 100%;
    width: 100%;
}





.audio-home-controls {

    width: 150px;
    height: 100px;
    display: block;
    margin: auto;


    background-color: transparent;
}

.audio-style-image-waste {
    height: 80%;
    width: 90%;
    background-image: url(/assets/images/Kings-Of-Leon-Waste-A-Moment.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;

}


.single-cover {
    height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto;

}

.button-position {
    height: 20vh;
    margin-top: 75vh;
}

/*--------------------------------------------------------------------VIDEO SECTION*/

.walls-promo-header {
    font-size: 24px;
    background-color: rgba(3, 2, 0, 0.62);
}


.video-container {
    width: 100%;
    height: 50vh;

}

.watch-section {
    height: 100%;
    width: 100%;
}

.walls-video {

    height: 80%;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.hover-hidden:hover .video-visible {
    opacity: 1;
}



/*---------------------------------------------------------------TOUR*/

.tour-header {
    color: white;
    margin-left: 10px;

}


.tour-dates {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.tour-visible {
    height: 60vh;
    margin-top: 20vh;
    background-color: rgba(3, 2, 0, 0.5);
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;

}

.hover-hidden:hover .tour-visible {
    opacity: 1;
}

.container-tour {
    width: 90%;
    margin: 0 auto;


}

.tour-location-text {
    font-size: 16px;

    color: white;
    margin-bottom: 10px;
    letter-spacing: 5px;
}



/*-----------------------------------------------------------------FOOTER*/

.footer {
    height: 60px;
}

.footer-container {
    position: relative;
    width: 100%;
    background-color: white;
}

.sign-up-text {
    font-size: 13px;
    text-align: center;
    color: #777;
    letter-spacing: 5px;

}

input[type=email] {
    width: 70%;
    text-align: center;
    background-color: lightblue;
}

.social-media-section {
    padding: 0px;
    margin-top: 20px;

    float: right;
}

.twitter-box {



    text-align: center;
    font-size: 30px;
}

.facebook-box {



    text-align: center;
    font-size: 30px;
}

.youtube-box {



    text-align: center;
    font-size: 30px;

}

.instagram-box {


    text-align: center;
    font-size: 30px;

}

.fab {
    color: lightblue;
}

.fab:hover {
    text-decoration: none;

}

/*------------------------------------------------------------------DISCOVER PAGE */

.background-discover {
    height: 90vh;
    background-color: #f8f8ff;


}

.carousel-wrapper {
    height: 90vh;
    position: relative;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel {
    height: 80vh;
    width: 100%;
}

.carousel-inner {
    height: 100%;
    width: 100%;

}

.carousel-item {
    height: 100%;
    width: 100%;
}

.container-carousel {
    margin: 0 auto;
    float: none;
    width: 90vw;
}


/*------------------------------------------------------------------LISTEN PAGE*/

.background-listen {
    height: 90vh;
    background-color: #f8f8ff;

}

.listen-header {
    margin-top: 80px;
    text-align: left;
    color: #777;
}

.album-container {
    height: 33vh;

    margin-top: 20px;


}



.album-wrapper-2 {
    height: 33vh;
    margin-top: 20px;
}

.album-container-2 {
    height: 33vh;

    margin-top: 20px;



}



.album-image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 5px solid white;
}

.album-image:hover {
    border-color: lightblue;
}

.row-center {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

}

.row-album-align {
    margin-left: 50px;
}

.col-center {
    display: inline-block;
    float: none;


}

.album-hidden-md {
    display: none;
}

.container-carousel-visible {

    margin: 0 auto;
    float: none;
    width: 90vw;
    display: block;

}

.audio-listen-controls {
    text-align: center;
    height: 14px;
    width: 80px;
    margin-top: 0;


}

.track-listing {
    font-size: 16px;
    letter-spacing: 10px;
    margin-top: 20px;
}

.walls-track-listing-modal {
    background-image: url(/assets/images/kol_candle.jpg);

    background-size: 100% 100%;
    font-size: 20px;
    color: #777;
    letter-spacing: 5px;
}

.youth-track-listing-modal {
    background-image: url(/assets/images/youth-and-young-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1vw;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;
}



.aha-track-listing-modal {
    background-image: url(/assets/images/aha-shake-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1vw;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;

}

.because-track-listing-modal {
    background-image: url(/assets/images/because-of-the-times-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1vw;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;

}

.obtn-track-listing-modal {
    background-image: url(/assets/images/only-by-the-night-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1vw;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;


}

.obtn-spacing {
    margin-left: 25%;
    margin-top: 20%;
}

.come-around-track-listing-modal {
    background-image: url(/assets/images/come-around-sundown-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1vw;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;


}

.come-around-track-style {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
}

.mechanical-bull-track-listing-modal {
    background-image: url(/assets/images/mechanical-bull-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;
    margin: 0 auto;
}

.modal-album-small {
    height: 100px;
    width: 100px;
}

.audio-small-controls {
    height: 50px;
    width: 100px;
}

.small-track-listing {
    margin-top: 20%;
}

.mechanical-bull-track-style {
    color: white;
    margin-top: 52vh;
    margin-right: 25px;
    font-size: .9vw;
}

.walls-track-listing-modal {
    background-image: url(/assets/images/WALLS-reverse-blank.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
    color: #777;
    letter-spacing: 5px;
    font-weight: 900;
    height: 80vh;
    width: 60vw;
}

.walls-track-style {
    float: left;
    margin-left: auto;
    margin-top: 30px;
    font-size: 1.5vh;
}

/*--TRACK LINKS--*/

.mechanical-bull-link {
    color: red;
}

.sundown-link {
    color: orange;
}

.walls-link {
    color: lightblue;
}

.obtn-link {
    color: red;
}

/*------------------------------------------------------------------WATCH PAGE*/

.background-watch {
    height: 90vh;
    background-color: #f8f8ff;


}


#sex-on-fire-button {

    width: 20vw;
    background-image: url(/assets/images/sex-on-fire-cd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vh;
    margin-top: 100px;
    margin-left: 50px;


}

#sex-on-fire-right {
    width: 100%;
    float: none;
    margin-left: 0;
    position: absolute;
    height: 90vh;
}

#sex-on-fire-right-iframe {

    width: 100%;
    height: 100%;
}

#use-somebody-button {

    width: 20vw;
    background-image: url(/assets/images/use-somebody-cd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vh;
    margin-top: 5vh;
    margin-left: 50px;


}

#use-somebody-right {
    width: 100%;
    float: none;
    margin-left: 0;
    position: absolute;
    height: 90vh;
}

#use-somebody-right-iframe {

    width: 100%;
    height: 100%;
}

#supersoaker-button {

    width: 20vw;
    background-image: url(/assets/images/supersoaker-cd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vh;
    margin-top: 5vh;
    margin-left: 50px;



}

#supersoaker-right {
    width: 100%;
    float: none;
    margin-left: 0;
    height: 90vh;
    position: absolute;
}

#supersoaker-right-iframe {
    width: 100%;
    height: 100%;
}

.container-watch-button {
    margin-left: 10px;
}




/*------------------------------------------------------------------TOUR PAGE*/

.background-wrapper {
    height: 100%;
}

.background-tour {
    height: 100%;
    background-color: #f8f8ff;

}

.tour-block {
    height: 20vh;
    width: 100%;
    background: rgba(255, 192, 203, 0.5);

    margin-top: 20px;
}

.center-align-date {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.tour-promo {
    height: 50vh;
    width: 100%;
    margin-top: 20px;
}

.tour-date {
    text-align: center;
    font-size: 3vh;
    font-weight: 1000;
    letter-spacing: 5px
}

.tour-location {
    text-align: center;
    font-size: 3vw;
    letter-spacing: 5px;
}

.tour-header {
    margin-top: 80px;
    text-align: right;
    color: #777
}

/*-----------------------------------------------------------------MEDIA QUERIES*/

@media only screen and (min-width:1025px) {
    .touch-instructions {
        visibility: hidden;

    }
}

@media only screen and (min-width:1200px) {
    .social-media-section {
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media only screen and (min-width:1025px) {
    .container-carousel {
        margin: 0 auto;
        float: none;
        width: 50vw;

    }
}

@media only screen and (min-width:1235px) {
    .album-hidden-md {
        display: block;

    }
}

@media only screen and (min-width:1200px) {
    .container-carousel-visible {
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        top: 0;
        left: 0;

    }
}

@media only screen and (min-width:1200px) {
    .btn-more {
        width: 11vw;
        height: 50%;
        background-color: transparent;
        border-color: pink;
        border-radius: 0;
        text-align: center;
        letter-spacing: 10px;
        text-decoration: none;
        margin-left: 11vw;
        font-size: 1.7vw;
        color:#777;
        font-weight: 900
    }
}
@media only screen and (min-width:1200px) {
.btn-more-2 {
    width: 11vw;
    height: 50%;
    background-color: transparent;
    border-color: lightblue;
    border-radius: 0;
    text-align: center;
    letter-spacing: 10px;
    text-decoration: none;
    margin-left: 11vw;
    font-size: 1.7vw;
    color:#777;
    font-weight: 900
}
}

@media only screen and (min-width:1200px) {
    .tour-date {
        text-align: center;
        font-size: 5vh;
        font-weight: 1000;
        letter-spacing: 10px
    }
}

@media only screen and (min-width:1200px) {
    .tour-promo {
        height: 65vh;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
@media only screen and (min-width:1200px) {
.tour-location {
    text-align: center;
    font-size: 2.5vh;
    letter-spacing: 5px;
}
}

/**@media only screen and (min-width:992px) {
    .background-tour {
         height: 92vh;
    
   
    }

    }
**/

/*-------------------------------------------------------MODAL*/

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0;
}
