/*--------------------------------------------main/generic styles*/

body {
    font-family: 'Raleway', sans-serif;


}

li {
    text-decoration: none;
    list-style: none;
}

audio {
 
}

.zero-margin-padding {
    margin: 0;
    padding: 0;
}

.center-align-text {
    text-align: center;
}

.image-fit {
    height: 100%;
    width: 100%;

}

.touch-image {
    height:100%;
    width:100%;
}

.touch-instructions-middle {
    height: 50px;
    width: 50px;
    margin-left: 50vw;
    margin-right:50vw;
    margin-top: 10px;
    position: absolute;

}

.touch-instructions-top {
     height: 50px;
    width: 50px;
    margin-left: 10vw;
    margin-top: 70px;
    position: absolute;
}
.touch-instructions-bottom {
     height: 50px;
    width: 50px;
    margin-left: 80vw;
    margin-top: 10px;
    position: absolute;
}

/*...................................................Buttons*/

.btn-center {
    display:block;
   margin:0 auto;
   
}

.btn-more {
    width:100px;
    height:50px;
}



/*------------------------------------------------NAVIGATION SECTION8*/

.navbar {
    position: absolute;
    width: 100vw;
    z-index: 1;
    background-color: white;
    border: 0;
}

.navbar-right {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 16px;
    letter-spacing: 10px;
}

.discover-btn {
    border: 0;
    background-color: transparent;
    text-align: center;
    color: #777;
    font-size: 14px;
    letter-spacing: 2px
}

.discover-btn:hover {
    background-color: #f5f5f5;
    color: #777;
}


/*---------------------------------------------------------MAIN HEADER SECTION*/

.listen {
    height: 100vh;
    background-image: url(/assets/images/kol_hat.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;

}

.listen:hover {
    opacity: 0.7;
}



.watch {
    height: 100vh;


    background-image: url(/assets/images/kol_cherry.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
}

.watch:hover {
    opacity: 0.7;
}

.tour {
    height: 100vh;

    background-image: url(/assets/images/kol_snake.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
}

.tour:hover {
    opacity: 0.7
}

.hover-hidden {
    height: 100vh;
}



.video-visible {
    height: 60vh;
    margin-top: 20vh;
    visibility: hidden;

}

.hover-hidden:hover .video-visible {
    visibility: visible;
}

.audio-visible {
    height: 60vh;
    margin-top: 20vh;
    background-color:rgba(0,100,90,0.5);
    width:100%;
    visibility: hidden;

}

.hover-hidden:hover .audio-visible {
    visibility: visible;
}

.audio-section {
    height:100%;
    width:100%;
}

.audio-style {
    
    font-size:18px;
    float:right;
    color:white;
    font-weight:800;
}

.audio-visible ul li {
    padding-top:10%;
}

.audio-home-controls {
       float:right;
    width:300px;
    height:50px;
    margin-right:2%;
    background-color:transparent;
}

.single-cover {
    height:70px;
    width:70px;
    
}

/*-----------------------------------------------------------------FOOTER*/

.footer {
    margin-top: 0px;
    margin-bottom: 0px;

}


.sign-up-container {
    height: 100px;
    background-color: #F3F3F3;

}

.social-container {
    height: 100px;
    background-color: #EAFDFD;

}

/*-----------------------------------------------------------------MEDIA QUERIES*/

@media only screen and (min-width:1025px) {
    .touch-instructions {
        visibility: hidden;

    }
}


